.about-content
	p LOCATED IN VIBRANT, TAMBAYAN SA PARDO FOODPARK, TAMBAYAN SA PARDO IS A BRIGHT AND AIRY SPACE WITH A GREAT AMBIENCE AND AN UPSTAIR TERRACE WITH A LIVE BAND FOR YOUR ENTERTAINMENT. SERVING OUR SIGNATURE FLYING SQUID AND ALL DAY FOOD MENUS, OUR STYLE IS RELAXED, OPEN AND FRIENDLY. COME FOR A QUICK SEAFOOD DELIGHT OR DINE WITH FRIENDS. 