.contact-container
	.time-section
		.header
			h3 OPENING TIMES

		.info
			p Stall: Open till late
			p Monday - Sunday: 16:00 - 22:00

	.contact-section
		.header
			h3 CONTACT

		.info
			p Tambyan sa Pardo 69 Natalio B. 

			p Bacalso Ave, Cebu City, Cebu

			p 0915-490-8250

			p: a(href="https://www.google.com.ph/maps/place/Tambayan+Sa+Bulacao+Pardo/@10.2755743,123.8522533,15z/data=!4m5!3m4!1s0x0:0x507c90cd520fb86f!8m2!3d10.2755743!4d123.8522533" target="_blank") View Map

			ul
				li: a(href="https://www.facebook.com/fintacles" target="_blank"): i.fa.fa-facebook.fa
				li: a(href="https://twitter.com/fintacles" target ="_blank"): i.fa.fa-twitter.fa
				li: a(href="https://www.instagram.com/fintacles/" target ="_blank"): i.fa.fa-instagram.fa