<div class="footer-container"><div class="footer-navigation-container"><div class="locations"><h3>LOCATIONS</h3><ul><li>TAMBAYAN SA PARDO</li></ul></div><div class="navigation"><ul><li><a href="{{ site.baseurl }}/..">HOME</a></li><li><a href="#">ABOUT</a></li><li><a href="#">BLOG</a></li></ul></div></div><div class="newsletter-container"><div class="subscribe-blurb"><p>SIGN UP FOR THE SCOOP: ALL THE LATEST NEWS, DEALS AND EVENTS AT FINTACLES RESTAURANTS</p></div><div class="mailchimp"><!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fafafa; clear:left; font:14px 'Rajdhani';}
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.<We>recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */</We></style>
<div id="mc_embed_signup">
<form action="https://fintacles.us18.list-manage.com/subscribe/post?u=d275624fae07e2fb4b5fbd27e&amp;id=7b0dc7d456" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d275624fae07e2fb4b5fbd27e_7b0dc7d456" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>
<!--End mc_embed_signup-->	</div></div></div><div class="copyright-container"><span>© 2018 FINTACLES RESTAURANTS. ALL RIGHTS RESERVED.   DESIGN FROM LOFTYTYPE ®</span></div>